{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="/static/images/generals-quarters.png"
        alt=""
        class="image-fluid mt-5 d-block w-50 mx-auto"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General's Quarters</h1>
      <p class="text-center mt-2">Have a look at the lovely lakes</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a id="check-availability-button" href="#!" class="btn btn-success"
        >Check Availability</a
      >
    </div>
  </div>
</div>
{{end}} {{define "js"}}
<script>
  document
    .getElementById("check-availability-button")
    .addEventListener("click", function () {
      const html = `
          <form
            id="check-availability-form"
            action=""
            method="POST"
            class="needs-validation"
            novalidate
          >
            <div class="row">
              <div class="col">
                <div class="row" id="reservation-dates-modal">
                  <div class="col">
                    <input 
                    disabled
                      required
                      placeholder="arrival date"
                      class="form-control"
                      type="text"
                      name="start"
                      id="start"
                    />
                  </div>
                  <div class="col">
                    <input 
                    disabled
                      required
                      placeholder="departure date"
                      class="form-control"
                      type="text"
                      name="end"
                      id="end"
                    />
                  </div>
                </div>
              </div>
            </div>
          `;
      attention.custom({
        title: "Choose your dates",
        msg: html,
        willOpen: () => {
          const elem = document.getElementById("reservation-dates-modal");
          const rangepicker = new DateRangePicker(elem, {
            format: "yyyy-mm-dd",
            showOnFocus: true,
            orientation: "top",
          });
        },
        didOpen: () => {
          document.getElementById("start").removeAttribute("disabled");
          document.getElementById("end").removeAttribute("disabled");
        },
        callback: (result) => {
          console.log("called");

          const form = document.getElementById("check-availability-form");
          const formData = new FormData(form);
          formData.append("csrf_token", "{{.CSRFToken}}");

          fetch("/search-availability-json", {
            method: "post",
            body: formData,
          })
            .then((res) => res.json())
            .then((data) => console.log("data:", data));
        },
      });
    });
</script>
{{end}}
