{{template "base" .}} {{define "content"}}

<!-- When /make-reservation is first accessed, the Reservation handler creates 
empty reservation, stores it in data.reservation, and passes the res and an empty form 
to the template (see $res below).
After submission, the PostReservation handler is called, which parses the form, creates 
a reservation and populates it with entered data (even if some fields fail validation), 
then a new Form is created and run through the validator.
If some data is invalid, the data and the form are passed to the renderer and displayed. -->

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Make Reservation</h1>

      <p><strong>Reservation Details</strong></p>

      {{$res := index .Data "reservation"}}

      Room Name: {{$res.Room.RoomName}}<br>
      Arrival: {{index .StringMap "start_date"}}<br>
      Departure: {{index .StringMap "end_date"}}<br>
      <br>
      <!-- Declare variable $res passing in emptyRes -->
      
      <form method="post" action="/make-reservation" class="" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
        <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}" />
        <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}" />
        
        <input type="hidden" name="room_id" value="{{$res.RoomID}}">
        
        <div class="form-group">
          <label for="first_name">First name:</label>
          {{with .Form.Errors.Get "first_name"}}
          <label class="text-danger">{{.}}</label>
          {{end}} 
          <input class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" 
          type="text" name="first_name"
          id="first_name" required autocomplete="off"
          value="{{$res.FirstName}}"/>
        </div>
        <div class="form-group">
          <label for="last_name">Last name:</label>
          {{with .Form.Errors.Get "last_name"}}
          <label class="text-danger">{{.}}</label>
          {{end}} 
          <input class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" 
          type="text" name="last_name"
          id="last_name" required autocomplete="off" value="{{$res.LastName}}"
          />
        </div>
        

        <div class="form-group">
          <label for="email">Email:</label>
          {{with .Form.Errors.Get "email"}}
          <label class="text-danger">{{.}}</label>
          {{end}} 
          <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" 
          type="email" name="email" id="email" required
          autocomplete="off" value="{{$res.Email}}" />
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          {{with .Form.Errors.Get "phone"}}
          <label class="text-danger">{{.}}</label>
          {{end}} 
          <input class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" 
          type="text" name="phone" id="phone"
          autocomplete="off" value="{{$res.Phone}}" />
        </div>
        <hr />
        <input type="submit" class="btn btn-primary" value="Make Reservation" />
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a href="index.html" class="btn btn-success">Go home</a>
    </div>
  </div>
</div>
{{end}}
